<div class="container">
    <br>
    <h1>Pipes</h1>
    <br>

    <table class="table text-center">
        <thead class="thead-inverse">
            <tr>
                <th>Variable</th>
                <th>Pipe</th>
                <th>Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Nombre}}</td>
                <td>uppercase</td>
                <td>{{Nombre | uppercase}} </td>
            </tr>
            <tr>
                <td>{{Nombre}}</td>
                <td>lowercase</td>
                <td>{{Nombre | lowercase}} </td>
            </tr>
            <tr>
                <td>{{Nombre}}</td>
                <td>slice</td>
                <td>{{Nombre | slice:3}} </td>
            </tr>
            <tr>
                <td>{{Nombre}}</td>
                <td>slice:0:3</td>
                <td>{{Nombre | slice:0 : 3}} </td>
            </tr>
            <tr>
                <td>{{arreglo}}</td>
                <td>slice:0:3</td>
                <td>{{arreglo | slice:0 : 3}} </td>
            </tr>
            <tr>
                <td>{{pi}}</td>
                <td>number</td>
                <td>{{pi | number}} </td>
            </tr>
            <tr>
                <td>{{pi}}</td>
                <td>number</td>
                <td>{{pi | number : '3.'}} </td>
            </tr>
            <tr>
                <td>{{pi}}</td>
                <td>number</td>
                <td>{{pi | number : '3.0-6'}} </td>
            </tr>
            <tr>
                <th>{{ porcentaje}}</th>
                <th>percent</th>
                <th>{{porcentaje | percent}} </th>
            </tr>
            <tr>
                <th>{{ porcentaje}}</th>
                <th>percent</th>
                <th>{{porcentaje | percent:'2.2'}} </th>
            </tr>
            <tr>
                <th>{{ salario }}</th>
                <th>currency</th>
                <th>{{ salario|currency}} </th>
            </tr>
            <tr>
                <th>{{ salario }}</th>
                <th>currency</th>
                <th>{{ salario|currency: 'EUR'}} </th>
            </tr>
            <tr>
                <th>{{ salario }}</th>
                <th>currency</th>
                <th>{{ salario|currency: 'JPY'}} </th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{ fecha | date}} </th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{ fecha | date:'medium'}} </th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{ fecha | date:'longDate'}} </th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{ fecha | date:'shortDate'}} </th>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <th>date</th>
                <th>{{ fecha | date:'dd-MMM-yyyy'}} </th>
            </tr>
            <tr>
                <td>{{persona }}</td>
                <td>json</td>
                <td>{{ persona| json}} </td>
            </tr>
            <!-- pipes personalizados -->
            <tr>
                <td>{{ nombre2}}</td>
                <td>capitalizado</td>
                <td>{{ nombre2 |capitalizado}} </td>
            </tr>
            <tr>
                <td>{{ Nombre }}</td>
                <td>contraseña:{{activar}}
                    <br>
                    <button (click)="activar = !activar">Activar / Desactivar</button>
                    <br>
                </td>
                <td>{{ Nombre |contrasena:activar}} </td>
            </tr>
        </tbody>
    </table>

    <h4>Youtube <small>videos</small></h4>
    <hr>
    <iframe width="550" height="315" allowfullscreen [src]="video | domSanatizer:'https://www.youtube.com/embed/'" frameborder="0"></iframe>


</div>